body {
    margin-left : 6em;
    margin-right : 16em;
    color:black;
    font-family: arial, helvetica, sans-serif;
}

@font-face {
  font-family: "Missing Font";
  font-style: normal;
  font-weight: normal;
  src: url("missing-font.otf");
}
